.container {
  width: 100%;
  max-width: 390px;
  padding: 40px 16px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.logo {
  width: 125px;
  height: 46px;
}

.entranceIcon,
.coinIcon {
  width: 20px;
  height: 20px;
}

.btnContainer {
  display: none;
}

.btnEnter {
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #291f1b;
  transition: color 0.3s ease;
}

.btnEnter:hover,
.btnEnter:focus {
  color: #fb8c00;
}

.btnDonation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.01em;
  color: #f9f9f5;
  background-color: #1b3a57;

  border: none;
  width: 206px;
  height: 44px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.btnDonation:hover,
.btnDonation:focus {
  background-color: #fb8c00;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: none;
    width: 768px;
    padding: 12px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 16px 80px;
    justify-content: space-between;
  }

  .btnContainer {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
