.container {
  width: 100%;
  max-width: 390px;
  padding: 40px 16px 16px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 5000;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, background, box-shadow;
}

.hidden {
  transform: translateY(-100%);
}

.scrolled {
  background-color: #f9f9f5;
  /* background: rgba(255, 255, 255, 0.95); */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); */
  backdrop-filter: blur(6px);
}

.logo {
  width: 125px;
  height: 46px;
}

.entranceIcon,
.coinIcon {
  width: 20px;
  height: 20px;
}

.btnContainer {
  display: none;
}

.btnEnter {
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #291f1b;
  transition: color 0.3s ease, border-color 0.3s ease;
  border: 1px solid #808080;

  padding: 10px 14px;
  border-radius: 14px;
}

.btnEnter:hover,
.btnEnter:focus {
  border-color: #fb8c00;
  color: #fb8c00;
}

.entranceIcon {
  fill: currentColor;
  transition: transform 0.3s ease, fill 0.3s ease, border-color 0.3s ease;
}

.btnEnter:hover .entranceIcon,
.btnEnter:focus .entranceIcon {
  fill: #fb8c00;
}

.btnDonation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.01em;
  color: #f9f9f5;
  border: none;
  padding: 10px 29px;
  border-radius: 12px;
  background: linear-gradient(90deg, #04915f 0%, #2cac7e 50%, #2fbe66 100%);
  background-size: 200% 100%;
  transition: background-position 0.45s ease, transform 0.18s ease,
    box-shadow 0.18s ease;
}

.btnDonation:hover {
  background-position: 100% 0;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.14);
}

.btnDonation:active {
  background-position: 100% 0;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btnDonation:focus-visible {
  outline: 3px solid #2cac7e;
  outline-offset: 4px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: none;
    width: 768px;
    padding: 12px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 16px 80px;
    justify-content: space-between;
  }

  .btnContainer {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
