.container {
  max-width: 390px;
  padding: 0px 16px 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleMobile {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #291f1b;
}

.title {
  display: none;
}

.link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.01em;
  color: #f9f9f5;
  background-color: #bb5f65;
  padding: 10px 61px;
  border-radius: 14px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.link:hover,
.link:focus {
  background-color: #fb8c00;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 20px 80px;
    gap: 40px;
  }

  .titleMobile {
    display: none;
  }

  .title {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #291f1b;
  }

  .link {
    margin: 0 auto;
    padding: 16px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0px 80px 144px;
  }

  .title {
    font-size: 32px;
  }

  .link {
    padding: 20px 40px;
  }
}
