.navigation {
  display: none;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #291f1b;
  transition: color 0.3s ease;
}

.link:hover,
.link:focus {
  color: #fb8c00;
}

@media screen and (min-width: 1440px) {
  .navigation {
    display: flex;
    align-items: center;
    gap: 70px;
  }
}
