.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #291f1b;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #291f1b;
  max-width: 358px;
}

.subtitleList {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #291f1b;
  list-style-type: disc;
  max-width: 358px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .list {
    gap: 44px;
  }

  .item {
    flex-direction: row-reverse;
    gap: 16px;
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }

  .dogImage,
  .catImage {
    max-width: 294px;
  }

  .title {
    font-size: 22px;
  }

  .subtitle,
  .subtitleList {
    max-width: 410px;
  }

  .textBlock {
    gap: 18px;
  }
}

@media (min-width: 1440px) {
  .list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .dogImage {
    max-width: 630px;
  }

  .catImage {
    max-width: 522px;
  }

  .item {
    flex-direction: column;
    gap: 32px;
  }

  .reverse {
    flex-direction: column-reverse;
    gap: 32px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    max-width: 630px;
  }

  .subtitleList {
    max-width: 517px;
  }

  .textBlock {
    gap: 20px;
  }
}
