.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  margin-left: auto;
}

.delete {
  width: 18px;
  height: 18px;
  fill: #00ad6f;
}

@media screen and (min-width: 768px) {
  .delete {
    width: 24px;
    height: 24px;
  }
}
