.container {
  padding-bottom: 100px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #291f1b;
  padding-bottom: 20px;
  border-bottom: 1px solid #00ad6f;
}

.item {
  border-bottom: 1px solid #00ad6f;
}

.header {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  height: 80px;
  max-width: 358px;
  gap: 8px;
  cursor: pointer;
}

.icon {
  flex-shrink: 0;
  width: 37px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #fb8c00;
}

.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #291f1b;
  max-width: 358px;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
  padding-bottom: 0;
}

.content.open {
  opacity: 1;
}

.contentInner {
  padding: 0 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-bottom: 131px;
  }

  .title {
    font-size: 24px;
    padding-bottom: 40px;
  }

  .header {
    max-width: none;
  }

  .content {
    max-width: 730px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-bottom: 174px;
  }

  .title {
    font-size: 32px;
  }

  .header {
    font-size: 20px;
  }

  .content {
    max-width: 1202px;
  }
}
